.container{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    background-color: rgb(235, 124, 80);
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid black;
}
img{
   margin: 0px 0px -5px 10px;
   border-radius: 12px;
   border: 2px solid rgb(222, 63, 10);
}
.textWrapper{
  margin: 0px 20px;
 
}

.textWrapper > span{
    font-size: x-large;
    font-weight: 600;
   
}

.inputWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    
   
}

.inputWrapper > span{
    margin-right: 10px;
    font-size: larger;
}

.inputWrapper > input {
    padding: 5px;
    width: 25vw;
    border-radius: 4px;
    border: 0.5px solid #adadad;
    outline-color: rgb(231, 38, 17);
}
